@charset "UTF-8";

body {
	background-color: black;
	color: white;
	  background-image: url(halfmoon-betta-fish.jpg);
	  background-repeat: no-repeat;
	  background-size: contain;
	  background-position: center;
}
html{
	height: 100%
}
h1 {
	font-family: Daubenton;
}
h2 {
	font-family: Daubenton;
}
h5 {
	font-family: Daubenton;
}
table {
	font-family: Daubenton;
}
form {
	font-family: Daubenton;

}
